Armin Ronacher <armin.ronacher@active-4.com> mitsuhiko <devnull@localhost>
Christopher Grebs <cg@webshox.org>           Christopher Grebs <devnull@localhost>
Christopher Grebs <cg@webshox.org>           EnTeQuAk <devnull@localhost>
Eric O'Connell <eric.oconnell@idealist.org>  eric o'connell <eric.oconnell@idealist.org>
Florian Apolloner <apollo13@apolloner.eu>    apollo13 <apollo13@apolloner.eu>
Georg Brandl <georg@python.org>              gbrandl <devnull@localhost>
