{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}

    <h2>About</h2>

    <h3>Why the hell another pastebin?</h3>
    <p>
        Good question. Basically the world doesn't need another pastebin.
        There is <a href="http://pastie.caboo.se/">pastie</a> and
        <a href="http://paste.e-scribe.com/">paste.e-scribe.com</a> which
        both use kick-ass highlighting libraries for highlighting the
        code and both have an initiutive user interface. Nevertheless I
        had too much free time and created this pastebin.
    </p>
    <p>
        Feel free to not use it ;-)
    </p>

    <h3>Features</h3>
    <ul>
        <li><a href="/tags/">Tags</a></li>
        <li>private pastes</li>
        <li>web2.0 design ^^</li>
        <li>different color schemes for the sourcecode</li>
        <li>toggleable line numbers/syntax highlighting</li>
        <li>reply to pastes with different highlighting</li>
        <li>support for many python template languages</li>
        <li>support for many scripting languages like python and ruby</li>
        <li><a href="/xmlrpc/">XMLRPC support</a></li>
    </ul>

    <h3>Software Used</h3>
    <ul>
        <li><a href="http://www.sqlite.org/">sqlite3</a> as database</li>
        <li><a href="http://www.djangoproject.com/">django</a> as framework</li>
        <li><a href="http://pygments.pocoo.org/">pygments</a> for syntax highlighting</li>
        <li><a href="http://www.python.org/">python</a> as scripting language</a>
    </ul>

    <h3>Who?</h3>
    <p>
        <a href="http://lucumr.pocoo.org/">mitsuhiko</a> from the pocoo
        team is responsible for the pastebin. Pygments is a pocoo project
        led by Georg Brandl.
    </p>

{% endblock %}
