{% extends "layout.html" %}

{% block title %}Help{% endblock %}

{% block sidebar %}
    <h3>Scripts</h3>
    <ul>
        <li><a href="/show/lodgeit.py">lodgeit.py</a> - python script
            to paste from the command line
            (<a href="/show/lodgeit.py?action=raw">download</a>)</li>
    </ul>
    <h3>Libraries</h3>
    <ul>
        <li><a href="/show/lodgeit.rb">lodgeit.rb</a> - ruby library
            for lodgeit
            (<a href="/show/lodgeit.rb?action=raw">download</a>)</li>
    </ul>
{% endblock %}

{% block content %}

    <h2>Help</h2>

    <h3>Pasting Sourcecode</h3>
    <p>
        You can simply paste sourcecode without logging in or something
        else. Just go to the <a href="/">new paste</a> page and enter
        your sourcecode and the language it's written in. If you mark
        your paste as private it gets an 40 bit long unique hash which is
        hard to guess and the paste won't appear in the recent changes
        list. But if you give your paste a tag it will appear in the
        tag cloud/list. Nevertheless you shouldn't paste private information
        in this pastebin because someone might get the link to a private
        paste by sniffing your internet connection etc.
    </p>
    <p>
        LodgeIt automatically saves your name in a browser session together
        with your syntax highlighting scheme. That data is deleted as soon
        as you close your browser or the session expires. Currently there
        is no way to save your user information for longer time periods
        or to register a nickname just for you.
    </p>

    <h3>Using Tags</h3>
    <p>
        You can give your paste a whitspace delimited list of tags. An
        automatic completion helps you finding tags that are already in
        use. Those tags can help you to find your snippet again if you
        think it's useful. Please don't tag your sourcecode with tags
        that have nothing to do with your sourcecode.
    </p>

    <h3>Writing Replies</h3>
    <p>
        If you click on the "reply to this paste" link on a detail page you
        can change the paste and save a new version. LodgeIt saveas a version
        information then so that you can compare the paste with the previous
        version.
    </p>

    <h3>XML RPC Interface</h3>
    <p>
        This pastebin supports xmlrpc. Head over to the
        <a href="/xmlrpc/">API</a> documentation.
    </p>

{% endblock %}
