{% extends "layout.html" %}

{% block title %}Pastes tagged {{ tag.name|escape }}{% endblock %}

{% block sidebar %}
    <h3>Tags</h3>
    <ul>
        <li><a href="/tags/">go to tagcloud</a></li>
    </ul>
{% endblock %}

{% block content %}

    <h2>Pastes tagged {{ tag.name|escape }}</h2>
    <ul>
    {% for paste in tag.paste_set.all %}
        <li><a href="{{ paste.get_absolute_url }}">{{ paste.title|escape }}</a> by {{ paste.author|escape }} on {{ paste.pub_date|date:"j. N Y H:i" }}</li>
    {% endfor %}
    </ul>

{% endblock %}
