/**
 * New Lodge It Style
 */

body {
    background: #DBE6E9;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

div.page {
    margin: 25px;
    padding: 14px;
    background: white url(background.png) repeat-x;
    border: 4px solid #A9B6B9;
}

div.footer {
    clear: both;
}

h1 {
    font-size: 40px;
    margin: 0;
    color: #083944;
}

h2 {
    font-size: 24px;
    margin: -5px 0 20px 20px;
    color: #e18f00;
}

h3 {
    font-size: 20px;
    margin: 20px 0 0 0;
    color: #557F8A;
}

h2 a {
    text-decoration: none;
}

a {
    color: #557F8A;
}

a:hover {
    color: #e18f00;
}

div.text {
    max-width: 700px;
    text-align: justify;
    padding: 0 10px 0 10px;
}

#navigation {
    float: right;
    list-style: none;
    margin: -50px 0 0 0;
    padding: 0;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    padding: 5px 10px 5px 10px;
    background-color: #A7BEC4;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#navigation li a:hover {
    background-color: #f89e00;
}

#navigation li.active a {
    background-color: #557F8A;
}

#languages {
    float: right;
    list-style: none;
    margin: -10px 0 0 0;
    padding: 0;
}

#languages li {
    float: left;
    margin-right: 5px;
}

#languages li img {
    border: none;
    padding: 2px;
}

#languages li.active img {
    border: 1px solid #A7BEC4;
    padding: 1px;
}

#paste {
    margin: 0;
    padding: 0;
    border: 1px solid #A7BEC4;
}

#paste div.code {
    overflow: auto;
}

#paste table, #paste tbody {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

#paste td.code {
    padding-left: 10px;
}

#paste td.linenos {
    background-color: #A7BEC4;
    padding-right: 5px;
    padding-left: 20px;
    text-align: right;
    color: #fff;
}

#paste.nolinenos td.linenos {
    display: none;
}

#paste pre {
    margin: 0;
    padding: 5px 0 5px 0;
    font-family: 'Bitstream Vera Sans Mono', monospace;
    font-size: 13px;
}

#insert_tabs {
    display: none;
}

div.related,
div.paste_filter,
div.notification {
    margin: 0 0 10px 0;
    border: 1px solid #A7BEC4;
    background-color: #E6EFF1;
    color: #103842;
}

div.related h3,
div.paste_filter h3,
div.notification h3 {
    margin: 0;
    padding: 0;
    background-color: #A7BEC4;
    font-size: 18px;
}

div.notification h3,
div.paste_filter h3 a,
div.related h3 a {
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
}

div.notification div.captcha {
    margin: 10px;
}

div.notification div.captcha p {
    padding: 0;
}

div.notification div.captcha img {
    display: block;
    margin: 8px 0 8px 0;
}

div.related h3 a:hover,
div.paste_filter h3 a:hover {
    background-color: #739BA5;
    color: white;
}

div.related h3 a:focus,
div.paste_filter h3 a:focus {
    outline: none;
}

div.related p,
div.notification p {
    padding: 5px 10px 5px 10px;
    margin: 0;
}

div.related a,
div.notification a {
    color: #557F8A;
}

div.related a:hover,
div.notification a:hover {
    color: #739BA5;
}

div.related ul {
    margin: 0 0 10px 30px;
    padding: 0 0 0 0;
}

input, select, textarea {
    border: 1px solid #CBD8DB;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: black;
    background-color: #FDFDFD;
}

input:focus, select:focus, textarea:focus {
    outline: 1px solid #94ACB3;
}

textarea {
    font-family: 'Bitstream Vera Sans Mono', monospace;
    font-size: 13px;
    width: 100%;
    height: 300px;
    margin: 0 0 10px 0;
}

input[type="submit"],
input[type="button"] {
    background-color: #557F8A;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #8DA6AC;
}

table.diff {
    width: 100%;
    border: 2px solid #ccc;
    border-collapse: collapse;
    empty-cells: show;
    margin: 0;
}

table.diff th.old_rev,
table.diff th.new_rev {
    width: 3em;
}

table.diff tr.line th.old_rev,
table.diff tr.line th.new_rev {
    padding: 0.2em 0.5em 0.2em 0;
    text-align: right;
    font-weight: normal;
    font-size: 0.8em;
    background-color: #eee;
    color: #444;
    border: 1px solid #ccc;
    vertical-align: top;
}

table.diff tr.ellipsis th {
    border: 1px solid #ccc;
    background-color: #dfdfdf;
}

table.diff tr.line td.code {
    padding: 0.1em 0.4em 0.1em 0.4em;
    font-family: monospace;
    font-size: 13px;
    border: 1px solid #ddd;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
}

table.diff tr.add td.code {
    background-color: #dfd;
}

table.diff tr.del td.code {
    background-color: #fcc;
}

table.diff tr.add td.code ins {
    background-color: #9e9;
    text-decoration: none;
}

table.diff tr.del td.code del {
    background-color: #e99;
    text-decoration: none;
}

ul.paste_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.paste_list p {
    margin: 0;
    padding: 0;
}

ul.paste_list pre {
    margin: 4px 10px 4px 30px;
    padding: 4px;
    font-family: 'Bitstream Vera Sans Mono', monospace;
    font-size: 13px;
    overflow: auto;
}

ul.paste_list li {
    margin: 10px 0 0 0;
    padding: 5px 0 5px 10px;
    border: 1px solid #C8DADA;
}

ul.paste_list li pre.syntax {
    border: 1px solid #C8DADA;
}

ul.paste_list li.even {
    background-color: #EDF6F7;
}

ul.paste_list li.odd {
    background-color: #E1EBEC;
}

div.pagination {
    margin: 10px;
    text-align: right;
}

ul.paste_tree {
    margin: 0 0 0 20px;
    padding: 0;
}

ul.paste_tree li {
    padding: 0;
}

ul.paste_tree li.highlighted {
    background-color: #eee;
}

ul.paste_tree li.highlighted ul {
    background-color: white;
}

ul.paste_tree li.highlighted > a {
    font-weight: bold;
}

ul.paste_tree ul {
    padding: 0 0 0 24px;
    margin: 0;
}

ul.paste_tree,
ul.paste_tree ul {
    list-style: circle;
}

input#webpage {
    display: none;
}

ul#help-navigation {
    margin: 10px;
    padding: 10px;
    float: right;
    border: 1px solid #2eabb0;
    background-color: #cae9ea;
    list-style: none;
}

pre.sample, tt {
    font-size: 0.9em;
    background-color: #cae9ea;
}

pre.sample {
    border: 1px solid #2eabb0;
    padding: 3px;
    margin: 5px 10px 5px 10px;
}

img.standalone {
    display: block;
    margin: 5px auto 5px auto;
}

ul.xmlrpc-method-list {
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 0;
}

ul.xmlrpc-method-list li {
    margin: 5px 10px 5px 10px;
    padding: 5px;
    border: 1px solid #2eabb0;
}

ul.xmlrpc-method-list li.even {
    background-color: #d8e9ea;
}

ul.xmlrpc-method-list li.odd {
    background-color: #ecf9f9;
}

ul.xmlrpc-method-list li p {
    margin: 0;
    padding: 0;
}

ul.xmlrpc-method-list li p.signature {
    color: #224e50;
}

ul.xmlrpc-method-list li p.signature em {
    color: black;
    font-style: normal;
}

ul.xmlrpc-method-list li p.docstring {
    padding: 5px 0 0 20px;
    font-size: 0.95em;
}


/* Filterable */
table.filterable {
    width: 100%;
    margin-bottom: 0.7em;
    margin-top: 0.2em;
    border-collapse: collapse;
}

table.filterable td {
    vertical-align: middle;
    padding: 5px 10px;
}

table.filterable td.value {
    width: 100%;
}

table.filterable div.add {
    float: right;
}

table.filterable div.add.left {
    float: left;
}

div.paste_filter div.actions {
    padding: 5px 10px;
}

/* :::: special highlighters :::: */
div.diff-table {
    background: white;
}

div.diff-table div.meta {
    background: #CBD8DB;
    color: #111;
    padding: 5px;
}

div.diff-table div.meta .old {
    font-size: 12px;
}

div.diff-table div.meta .new {
    padding-top: 4px;
}

div.diff-table div.meta span.filename {
}

div.diff-table div.meta span.revision {
    color: #557F8A;
    font-size: 0.8em;
}

div.diff-table pre.header {
    background-color: #557F8A;
    color: white;
    padding: 5px 10px!important;
}

div.diff-table table.diff {
    border: none;
}

div.diff-table table.diff td.code {
    border-right: none;
}

div.multi p.filename {
    background: #557F8A;
    color: white;
    padding: 5px 10px;
    margin: 0;
}

#multi-file-information {
    margin: 10px 0 0 0;
    padding: 5px;
    border: 1px solid #DEECF5;
    background: #D3E5F0;
    font-size: 13px;
}

div.wikitext {
    background-color: white;
    padding: 2px 15px;
}

div.wikitext h1 {
    margin: 0.3em 0 0 0;
    padding: 0;
}

div.wikitext h2 {
    margin: 0;
    padding: 0;
}

div.csv {
    overflow: auto;
    background: #E6EFF1;
}

div.csv table {
    border-collapse: separate!important;
    border-spacing: 1px 1px!important;
    border-right: 1px solid #A7BEC4;
    background: white;
}

div.csv table td {
    border: 1px solid #DEECF5;
    padding: 3px 6px;
}

div.compiler-messages {
    overflow: auto;
    background: #E6EFF1;
}

div.compiler-messages table {
    border-right: 1px solid #A7BEC4;
    background: white;
}

div.compiler-messages table td {
    padding: 3px 7px;
    vertical-align: top;
}

div.compiler-messages table td.level {
    font-weight: bold;
}

div.compiler-messages table tr.error td.level {
    color: #A30000;
}

div.compiler-messages table td.message {
    line-height: 1.5;
}

div.compiler-messages table tr.raw pre {
    font-family: 'Bitstream Vera Sans Mono', monospace;
    font-size: 12px!important;
    padding: 0!important;
}

div.compiler-messages table td.message {
    font-family: 'Bitstream Vera Sans Mono', monospace;
    font-size: 12px!important;
}

div.compiler-messages table tr.context pre {
    border: 1px solid #C8DADA;
    background: #EDF6F7;
    padding: 2px!important;
    font-family: 'Bitstream Vera Sans Mono', monospace;
    font-size: 12px!important;
}

div.compiler-javac table tr.context pre {
    padding-top: 7px!important; /* to balance the closing "^" */
}

div.compiler-messages table td.location span.filename {
    color: #194B70;
    text-decoration: underline;
}
