/**
 * New Lodge It Style
 */

body {
    background-color: #021317;
    background-image: url(pagebg.png);
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

div.page {
    margin: 30px;
    padding: 10px;
    background-color: white;
    background-image: url(background.png);
    background-repeat: repeat-x;
}

div.footer {
    clear: both;
}

h1 {
    font-size: 40px;
    margin: 0;
    color: #083944;
}

h2 {
    font-size: 24px;
    margin: -5px 0 20px 20px;
    color: #e18f00;
}

h3 {
    font-size: 20px;
    margin: 20px 0 0 0;
    color: #136276;
}

h2 a {
    text-decoration: none;
}

a {
    color: #136276;
}

a:hover {
    color: #e18f00;
}

div.text {
    max-width: 700px;
    text-align: justify;
    padding: 0 10px 0 10px;
}

#navigation {
    float: right;
    list-style: none;
    margin: -50px 0 0 0;
    padding: 0;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    padding: 5px 10px 5px 10px;
    background-color: #333;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#navigation li a:hover {
    background-color: #f89e00;
}

#navigation li.active a {
    background-color: #136276;
}

#paste {
    margin: 0;
    padding: 0;
    border: 1px solid #333;
}

#paste table, #paste tbody {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

#paste td.code {
    padding-left: 10px;
}

#paste td.linenos {
    background-color: #333;
    padding-right: 5px;
    padding-left: 20px;
    text-align: right;
    color: #eee;
}

#paste.nolinenos td.linenos {
    display: none;
}

#paste pre {
    margin: 0;
    padding: 5px 0 5px 0;
    font-family: 'Bitstream Vera Sans Mono', monospace;
    font-size: 13px;
}

div.related,
div.notification {
    margin: 0 0 10px 0;
    border: 1px solid #136276;
    background-color: #333;
    color: #fff;
}

div.related h3,
div.notification h3 {
    margin: 0;
    padding: 0;
    background-color: #136276;
    font-size: 18px;
}

div.notification h3,
div.related h3 a {
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
}

div.related h3 a:hover {
    background-color: #1d89a4;
    color: white;
}

div.related h3 a:focus {
    outline: none;
}

div.related p,
div.notification p {
    padding: 5px 10px 5px 10px;
    margin: 0;
}

div.related a,
div.notification a {
    color: #ccc;
}

div.related a:hover,
div.notification a:hover {
    color: #aaa;
}

div.related ul {
    margin: 0 0 10px 30px;
    padding: 0 0 0 0;
}

input, select, textarea {
    border: 1px solid #0b4553;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: black;
    background-color: #f2f2f2;
}

textarea {
    font-family: 'Bitstream Vera Sans Mono', monospace;
    font-size: 13px;
    width: 100%;
    height: 300px;
    margin: 0 0 10px 0;
}

input[type="submit"],
input[type="button"] {
    background-color: #136276;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #1d89a4;
}

table.diff {
    width: 100%;
    border: 2px solid #ccc;
    border-collapse: collapse;
    empty-cells: show;
    margin: 0;
}

table.diff th.old_rev,
table.diff th.new_rev {
    width: 3em;
}

table.diff tr.line th.old_rev,
table.diff tr.line th.new_rev {
    padding: 0.2em 0.5em 0.2em 0;
    text-align: right;
    font-weight: normal;
    font-size: 0.8em;
    background-color: #eee;
    color: #444;
    border: 1px solid #ccc;
    vertical-align: top;
}

table.diff tr.ellipsis th {
    border: 1px solid #ccc;
    background-color: #dfdfdf;
}

table.diff tr.line td.code {
    padding: 0.1em 0.4em 0.1em 0.4em;
    font-family: monospace;
    font-size: 13px;
    border: 1px solid #ddd;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
}

table.diff tr.add td.code {
    background-color: #dfd;
}

table.diff tr.del td.code {
    background-color: #fcc;
}

table.diff tr.add td.code ins {
    background-color: #9e9;
    text-decoration: none;
}

table.diff tr.del td.code del {
    background-color: #e99;
    text-decoration: none;
}

ul.paste_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.paste_list p {
    margin: 0;
    padding: 0;
}

ul.paste_list pre {
    margin: 4px 10px 4px 30px;
    padding: 4px;
    font-family: 'Bitstream Vera Sans Mono', monospace;
    font-size: 13px;
}

ul.paste_list li {
    margin: 10px 0 0 0;
    padding: 5px 0 5px 10px;
}

ul.paste_list li.even {
    background-color: #e0f2f3;
}

ul.paste_list li.odd {
    background-color: #c8e6e7;
}

div.pagination {
    margin: 10px;
    text-align: right;
}

ul.paste_tree {
    margin: 0 0 0 20px;
    padding: 0;
}

ul.paste_tree li {
    padding: 0;
}

ul.paste_tree li.highlighted {
    background-color: #eee;
}

ul.paste_tree li.highlighted ul {
    background-color: white;
}

ul.paste_tree li.highlighted > a {
    font-weight: bold;
}

ul.paste_tree ul {
    padding: 0 0 0 24px;
    margin: 0;
}

ul.paste_tree,
ul.paste_tree ul {
    list-style: circle;
}

input#webpage {
    display: none;
}

ul#help-navigation {
    margin: 10px;
    padding: 10px;
    float: right;
    border: 1px solid #2eabb0;
    background-color: #cae9ea;
    list-style: none;
}

pre.sample, tt {
    font-size: 0.9em;
    background-color: #cae9ea;
}

pre.sample {
    border: 1px solid #2eabb0;
    padding: 3px;
    margin: 5px 10px 5px 10px;
}

img.standalone {
    display: block;
    margin: 5px auto 5px auto;
}

ul.xmlrpc-method-list {
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 0;
}

ul.xmlrpc-method-list li {
    margin: 5px 10px 5px 10px;
    padding: 5px;
    border: 1px solid #2eabb0;
}

ul.xmlrpc-method-list li.even {
    background-color: #d8e9ea;
}

ul.xmlrpc-method-list li.odd {
    background-color: #ecf9f9;
}

ul.xmlrpc-method-list li p {
    margin: 0;
    padding: 0;
}

ul.xmlrpc-method-list li p.signature {
    color: #224e50;
}

ul.xmlrpc-method-list li p.signature em {
    color: black;
    font-style: normal;
}

ul.xmlrpc-method-list li p.docstring {
    padding: 5px 0 0 20px;
    font-size: 0.95em;
}
