{% extends "layout.html" %}
{% set page_title = _('About LodgeIt') %}
{% set active_page = 'about' %}
{% block body %}
  <div class="text">
    <h3 id="why-the-hell-another-pastebin">{% trans %} Why the hell another pastebin?{% endtrans %}</h3>
    <p>{% trans %}
      Good question. Basically the world doesn't need another pastebin.
      There is <a href="http://pastie.caboo.se/">pastie</a> and
      <a href="http://dpaste.com/">dpaste.com</a> which
      both use kick-ass highlighting libraries for highlighting the
      code and both have an	intuitive user interface. Nevertheless there
      are some features which are unique to LodgeIt.{% endtrans %}
    </p>
    <h3 id="features">{% trans %}Features{% endtrans %}</h3>
    <ul>
       <li>{% trans %}clean user interface{% endtrans %}</li>
       <li>{% trans %}different color schemes for the sourcecode{% endtrans %}</li>
       <li>{% trans %}reply to pastes{% endtrans %}</li>
       <li>{% trans %}diffs of two pastes{% endtrans %}</li>
       <li>{% trans %}support for many python template languages{% endtrans %}</li>
       <li>{% trans %}support for many scripting languages like Python and Ruby, even with
           weird syntax (ruby *cough*){% endtrans %}</li>
       <li><a href="/help/api/">{% trans %}XMLRPC support{% endtrans %}</a></li>
       <li><a href="/help/integration/">{% trans %}command-line and editor integration{% endtrans %}</a></li>
       <li>{% trans %}persistent pastes{% endtrans %}</li>
       <li>{% trans %}reply notification{% endtrans %}</li>
       <li>{% trans %}valid HTML 4.0{% endtrans %}</li>
    </ul>
    <h3 id="request-more-languages">{% trans %}Request More Languages{% endtrans %}</h3>
    <p>{% trans %}
      A language is missing in the list? File a ticket in the
      <a href="http://dev.pocoo.org/projects/pygments">Pygments trac</a> and we add that as soon
      as possible.{% endtrans %}
    </p>
    <h3 id="software-used">{% trans %}Software Used{% endtrans %}</h3>
    <ul>
      <li>{% trans %}<a href="http://pygments.pocoo.org/">Pygments</a> for syntax highlighting{% endtrans %}</li>
      <li>{% trans %}<a href="http://www.python.org/">Python</a> as scripting language{% endtrans %}</li>
      <li>{% trans %}<a href="http://jinja.pocoo.org/2">Jinja 2</a> for templating{% endtrans %}</li>
      <li>{% trans %}<a href="http://werkzeug.pocoo.org/">Werkzeug</a> for the WSGI implementation{% endtrans %}</li>
      <li>{% trans %}<a href="http://www.sqlalchemy.org">SQLAlchemy</a> as database layer{% endtrans %}</li>
      <li>{% trans %}<a href="http://www.jquery.com/">jQuery</a> for scripting{% endtrans %}</li>
    </ul>
    <h3 id="who">{% trans %}Who?{% endtrans %}</h3>
    <p>{% trans %}
      This paste was founded by <a href="http://lucumr.pocoo.org/">Armin Ronacher</a>
      from the Pocoo team and is now maintained by
      <a href="http://webshox.org">Christopher Grebs</a>.  Pygments is a Pocoo project
      led by Georg Brandl.{% endtrans %}
    </p>
    <h3 id="privacy">{% trans %}Privacy{% endtrans %}</h3>
    <p>{% trans %}
      LodgeIt does not use user accounts because it's logging in for using a
      pastebin is useless. However this pastebin creates unique user ids for you
      and for 31 days. Whenever you return to the pastebin it will notify you
      about replies to your pastes.  If you don't want to have that feature you
      can let Lodgeit forget about you by <a
      href="javascript:LodgeIt.removeCookie()">removing the cookie</a>.
      Please note that on the next request you will get a new id.{% endtrans %}
    </p>
  </div>
{% endblock %}
