{% extends "layout.html" %}
{% from 'utils/macros.html' import render_diff_part %}
{% set page_title = 'Compare Pastes' %}
{% set active_page = 'all' %}
{% block body %}
  <p>
    Differences between the pastes
    <a href="{{ old.url|e }}">#{{ old.identifier }}</a> ({{ old.pub_date|datetimeformat }})
    and <a href="{{ new.url|e }}">#{{ new.identifier }}</a> ({{ new.pub_date|datetimeformat }}). Download as <a href="/unidiff/{{ old.identifier }}/{{ new.identifier }}/">unified diff</a>.
  </p>
  {% if diff.chunks %}
    {{ render_diff_part(diff) }}
  {% else %}
    <p>The two pastes are identical.</p>
  {% endif %}
{% endblock %}
