<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Paste</title>
    <link>{{ url_for('pastes/new_paste', external=True) }}</link>
    <description>Public pastes</description>
    {%- for item in items %}
    <item>
      <title>{{ item.paste_id }}</title>
      <link>{{ url_for('pastes/show_paste', identifier=item.paste_id, external=True) }}</link>
      <guid>{{ url_for('pastes/show_paste', identifier=item.paste_id, external=True) }}</guid>
      <description>{{ item.render_preview() }}</description>
    </item>
    {%- endfor %}
  </channel>
</rss>
