{% extends "layout.html" %}
{% import 'utils/macros.html' as macros %}
{% set page_title = _('All Pastes') %}
{% set active_page = 'all' %}
{% block body %}
  <div class="paste_filter{% if filterable.filters %} open{% endif %}">
    <h3><a href="javascript:LodgeIt.toggleFilterBox()">{%- trans -%}Filter pastes{%- endtrans -%}</a></h3>
    <form action="" method="get">
      {{ filterable.get_html() }}
      <div class="actions">
        <input type="checkbox" name="show_personal" id="show_personal"{% if show_personal %} checked{% endif %}>
        <label for="show_personal">{{ _('Search personal pastes') }}</label>
        <input type="submit" value="{{ _('Filter') }}">
      </div>
    </form>
  </div>
  {% if pastes %}
  <ul class="paste_list">
  {% for paste in pastes %}
    <li class="{{ loop.cycle('even', 'odd') }}"><p><a href="{{ paste.url|e
        }}">Paste #{{ paste.identifier }}</a>,
        {% trans %}pasted on {% endtrans %}{{ paste.pub_date|datetimeformat }}</p>
      {{ paste.render_preview() }}</li>
  {%- endfor %}
  </ul>
  {% else %}
  <strong>{% trans %}No pastes found{% endtrans %}</strong>
  {% endif %}
  <div class="pagination">
    {{ pagination }}
  </div>
{% endblock %}
