{% extends "layout.html" %}
{% set page_title = 'Paste #%d'|format(paste.paste_id) %}
{% set active_page = 'all' %}
{% block body %}
  <div class="related">
    <h3><a href="javascript:LodgeIt.toggleRelatedBox()">Paste Details</a></h3>
    <div class="content">
      <p>posted on {{ paste.pub_date|datetimeformat }}</p>
      <ul>
        <li><a class="autoclose" href="/?reply_to={{ paste.paste_id }}">reply to this paste</a></li>
        {% if paste.parent %}
          <li><a class="autoclose" href="/compare/{{ paste.paste_id }}/{{
              paste.parent.paste_id }}/">compare it with the parent paste</a></li>
          <li><a class="autoclose" href="{{ paste.parent.url|e }}">look at the parent paste</a></li>
        {% endif %}
        {% if paste.children %}
          <li>the following pastes replied to this paste:
          {% for child in paste.children %}
            <a class="autoclose" href="{{ child.url|e }}">#{{ child.paste_id }}</a>
            {%- if not loop.last %},{% endif -%}
          {% endfor %}
          </li>
        {% endif %}
        {% if paste.parent or paste.children %}
          <li><a href="/tree/{{ paste.paste_id }}/">show paste tree</a></li>
        {% endif %}
        <li><a href="/raw/{{ paste.paste_id }}/">download paste</a></li>
        <li>compare with paste <form action="/compare/" method="post">
          <input type="hidden" name="old" value="{{ paste.paste_id }}">
          <input type="text" name="new" value="#">
          <input type="submit" value="compare">
        </form></li>
        <li>select different colorscheme <form action="/colorscheme/" method="post">
          <select name="style">
          {% for key, caption in styles|dictsort %}
            <option value="{{ key }}"{% if key == style
              %} selected="selected"{% endif %}>{{ caption }}</option>
          {% endfor %}
          </select>
          <input type="submit" value="change">
        </form></li>
        <li><a href="?linenos={{ linenos and 'no' or 'yes' }}" onclick="LodgeIt.toggleLineNumbers(); return false;">toggle line numbers</a></li>
      </ul>
    </div>
  </div>
  <div id="paste"{% if not linenos %} class="code" {% endif %}>
    {{ paste.parsed_code }}
  </div>
{% endblock %}
