{% extends "layout.html" %}
{% set page_title = _('All Pastes') %}
{% set active_page = 'all' %}
{% block body %}
  {% if pastes %}
  <ul class="paste_list">
  {% for paste in pastes %}
    <li class="{{ loop.cycle('even', 'odd') }}"><p><a href="{{ paste.url|e
        }}">Paste #{{ paste.identifier }}</a>,
        {% trans date=paste.pub_date|datetimeformat %}pasted on {{ date }}{% endtrans %}</p>
      {{ paste.render_preview() }}</li>
  {%- endfor %}
  </ul>
  {% else %}
  <strong>{% trans %}No pastes found{% endtrans %}</strong>
  {% endif %}
  <div class="pagination">
    {{ pagination }}
  </div>
{% endblock %}
