<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}Unnamed{% endblock %} :: LodgeIt</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ SETTINGS.MEDIA_URL }}css/style.css" />
    <script type="text/javascript" src="{{ SETTINGS.MEDIA_URL }}js/prototype.js"></script>
    <script type="text/javascript" src="{{ SETTINGS.MEDIA_URL }}js/effects.js"></script>
    <script type="text/javascript" src="{{ SETTINGS.MEDIA_URL }}js/controls.js"></script>
    <script type="text/javascript" src="{{ SETTINGS.MEDIA_URL }}js/pastebin.js"></script>
    {% block head %}{% endblock %}
    <style type="text/css">
        {{ STYLE|escape }}
    </style>
</head>
<body>

    <div class="header">
        <h1><a href="/">LodgeIt</a></h1>
        <ul>
            <li><a href="/">New</a></li>
            <li><a href="/tags/">Tags</a></li>
            <li><a href="/all/">All</a></li>
            <li><a href="/help/">Help</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="contentwrapper">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="sidebar">
        <div class="contentwrapper">
            {% block sidebar %}{% endblock %}
            <h3>Style</h3>
            <form action="/change_settings/" method="get">
                <select name="style" onchange="this.parentNode.submit()">
                {% for style in STYLES %}
                    <option value="{{ style.value|escape }}"{% if style.selected %} selected="selected"{% endif %}>{{ style.caption|escape }}</option>
                {% endfor %}
                </select>
            </form>

            <h3>Popular Tags</h3>
            <div class="tagcloud">
            {% for tag in TAGS %}
                <a href="{{ tag.get_absolute_url|escape }}" style="font-size: {{ tag.get_size }}px" title="{{ tag.name|escape }}: {{ tag.count }}">{{ tag.name|escape }}</a>
            {% endfor %}
            </div>

            <h3>Recent Pastes</h3>
            <ul>
            {% for paste in RECENT %}
                <li><a href="{{ paste.get_absolute_url }}">{{ paste.title|escape }}</a> by {{ paste.author|escape }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>

</html>
