{% extends "layout.html" %}

{% block title %}XMLRPC{% endblock %}

{% block content %}

    <h2>XMLRPC</h2>

    <h3>Connecting To The XMLRPC Interface</h3>
    <p>
      The XMLRPC Interface is available at
      <tt>{{ interface_url|escape }}</tt>
    </p>
    <p>
      From python you can connect to it using the following
      sourcecode:
    </p>
    <pre>from xmlrpclib import ServerProxy
s = ServerProxy('{{ interface_url|escape }}')
s.pastes.method('parameter')</pre>
    
    <h3>Public Methods</h3>
    <ul>
    {% for method in methods %}
      <li><strong>{{ method.name|escape }}</strong>
          <em>{{ method.signature|escape }}</em>
          {{ method.doc|linebreaks }}</li>
    {% endfor %}
    </ul>

    <h3>Example Usage</h3>
    <p>
        Here an example python session:
    </p>
    <pre>{% filter escape %}>>> import xmlrpclib
>>> s = xmlrpclib.ServerProxy("{{ interface_url }}")
>>> s.pastes.countPublic()
8
>>> s.pastes.getAliasForMimetype("text/x-javascript")
'js'
>>> s.pastes.getNameByAlias("js")
'JavaScript'
>>> s.pastes.newPaste("python", "print 'Hello World'")
{'code': "print 'Hello World'",
 'uid': '1',
 'language': 'python',
 'title': 'Untitled',
 'url': 'http://example.com/show/1/',
 'author': 'anonymous',
 'private': False,
 'parsed_code': '...<span class="s">&#39;Hello World&#39;</span>...',
 'reply_to': '',
 'language_name':
 'Unknown',
 'pub_date': 1163534604,
 'tags': []}
{% endfilter %}</pre>

{% endblock %}
