/*
    pastebin style
    ~~~~~~~~~~~~~~

    Lodge It styles.

    :copyright: 2006 by Armin Ronacher.
    :license: BSD
*/

body {
    background-color: #919191;
    font-family: 'Verdana', 'Bitstream Vera Sans', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

a {
    color: #19476D;
}

a:hover {
    color: #BA832B;
}

input, select {
    border: 1px solid #aaa;
    font-family: 'Verdana', 'Bitstream Vera Sans', sans-serif;
    font-size: 13px;
}

input:focus {
    border: 1px solid #BA832B;
}

textarea {
    width: 100%;
    height: 300px;
    border: 1px solid #aaa;
    font-family: 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    font-size: 13px;
}

textarea:focus {
    border: 1px solid #BA832B;
}

div.action {
    margin: 10px 0 0 0;
    border-top: 1px dashed #aaa;
    padding: 10px;
    text-align: center;
}

div.header {
    margin: 0;
    height: 50px;
    border-bottom: 4px solid #2B7ABA;
    background-color: #19476D;
}

div.header h1 {
    margin: 0;
    padding: 0 0 0 10px;
    line-height: 50px;
    float: left;
}

div.header h1 a {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

div.header ul {
    margin: 0;
    padding: 5px 10px 0 0;
    float: right;
    list-style: none;
}

div.header ul li {
    float: left;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

div.header ul li a {
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

div.header ul li a:hover {
    color: #2B7ABA;
    background-color: white;
}

div.contentwrapper {
    padding: 10px;
}

div.content {
    margin: 0 0 20px 0;
    float: left;
    width: 75%;
    background-color: white;
    border-right: 3px solid #777;
    border-bottom: 3px solid #777;
}

div.content h2 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #19476D;
    font-size: 24px;
    font-weight: normal;
}

div.content h3 {
    margin: 15px 0 5px 0;
    padding: 0;
    font-size: 20px;
}

div.content p {
    margin: 8px 0 8px 0;
    padding: 0;
}

div.content dl dt {
    font-weight: bold;
}
div.content dl dd {
    margin: 1px 0 3px 35px;
}

div.email {
    /* this is our invisible form field for the negative captcha */
    display: none; 
}

div.sidebar {
    width: 22%;
    float: right;
    border-left: 3px solid #222;
    border-bottom: 3px solid #222;
    background-color: #444;
}

div.sidebar a {
    color: #BA832B;
}
div.sidebar a:hover {
    color: white;
}

div.sidebar h3 {
    margin: 0;
    padding: 3px;
    background-color: #6E6E6E;
    color: #ddd;
    font-size: 17px;
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
}

div.sidebar form,
div.sidebar ul,
div.sidebar dl,
div.sidebar div.tagcloud {
    margin: 5px 0 20px 0;
    padding: 0;
}

div.sidebar dl {
    color: white;
}
div.sidebar dl dt {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #2B7ABA;
}
div.sidebar dl dd {
    margin: 2px 0 3px 30px;
    padding: 0;
}

div.tagcloud a {
    text-decoration: none;
    padding: 3px;
}

div.sidebar ul {
    color: white;
    margin-left: 25px;
}

div.sidebar select {
    color: white;
    background-color: #333;
    width: 100%;
}

div.syntax,
div.plain {
    padding: 10px;
    border: 1px solid #aaa;
    overflow: auto;
}
div.syntax pre,
div.plain pre {
    margin: 0;
    padding: 0;
    font-family: 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    font-size: 13px;
}
div.syntax td.linenos,
div.plain td.linenos {
    padding: 0 20px 0 0;
    opacity: 0.5;
}

div.autocomplete {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}

div.autocomplete ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.autocomplete ul li {
    margin: 0;
    padding: 4px;
    color: #19476D;
}

div.autocomplete ul li.selected {
    background-color: #BA832B;
    color: white;
    font-weight: bold;
}

div.pastethread {
    margin: -15px 0 15px 20px;
    padding: 5px;
    border: 2px solid #777;
    background-color: #333;
}

div.pastethread ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.pastethread ul li {
    margin: 0;
    padding: 0;
}

li.paste_summary div.syntax {
    padding: 6px;
}
li.paste_summary a.detail {
    color: black;
}
li.paste_summary a.detail:hover div.syntax {
    border-color: #BA832B;
}
li.paste_summary div.syntax pre {
    font-size: 11px;
}

table.diff {
    border-collapse: collapse;
    border: none;
    width: 100%;
    border: 1px solid #111;
}

table.diff th {
    padding: 5px;
    background-color: #444;
    color: white;
}

table.diff td {
    font-family: 'Bitstream Vera Sans Mono', 'Courier New', sans-serif;
    font-size: 9px;
}

table.diff td.diff_next {
    background-color: #eee;
    padding: 0 3px 0 3px;
}

table.diff td.diff_header {
    padding: 2px;
    background-color: #555;
    color: white;
}

table.diff td.diff_data {
    padding: 0 5px 0 5px;
    white-space: pre;
}

table.diff .diff_sub {
    background-color: #fbc2c2;
}

table.diff .diff_add {
    background-color: #9bd29b;
}

table.diff .diff_chg {
    background-color: #decba6;
}
