{% extends "layout.html" %}

{% block title %}All Pastes{% endblock %}

{% block content %}

    {% if pastes %}
    <h2>All Pastes</h2>
    <div class="pagination">
        <strong>Go To:</strong> {{ pagination }}
    </div>
    <ul>
    {% for paste in pastes %}
        <li class="paste_summary">
            <p><a href="{{ paste.get_absolute_url }}">{{ paste.title|escape }}</a> by {{ paste.author|escape }} on {{ paste.pub_date|date:"j. N Y H:i" }}</p>
            <a href="{{ paste.get_absolute_url }}" class="detail">{{ paste.code_summary }}</a>
        </li>
    {% endfor %}
    </ul>
    <div class="pagination">
        <strong>Go To:</strong> {{ pagination }}
    </div>
    {% else %}
    <ul><li><em>no pastes so far</em></li></ul>
    {% endif %}

{% endblock %}
