{% extends "layout.html" %}

{% block title %}New Paste{% endblock %}

{% block content %}

    <h2>New Paste</h2>
    <form action="." method="post">
        {% if reply_to %}
            <input type="hidden" name="reply_to" value="{{ reply_to }}" />
        {% endif %}

        <dl>
            <dt>Title</dt>
            <dd>{{ form.title }}{% if form.title.errors %}
                <p class="error"><strong>Error:</strong>
                    {{ form.title.errors|join:", " }}
                </p>
            {% endif %}</dd>

            <dt>Author</dt>
            <dd>{{ form.author }}{% if form.author.errors %}
                <p class="error"><strong>Error:</strong>
                    {{ form.author.errors|join:", " }}
                </p>
            {% endif %}</dd>

            <dt>Language</dt>
            <dd>{{ form.language }}{% if form.language.errors %}
                <p class="error"><strong>Error:</strong>
                    {{ form.language.errors|join:", " }}
                </p>
            {% endif %}</dd>

            <dt>Private</dt>
            <dd>{{ form.private }}{% if form.private.errors %}
                <p class="error"><strong>Error:</strong>
                    {{ form.private.errors|join:", " }}
                </p>
            {% endif %}</dd>

            <dt>Tags</dt>
            <dd><input type="text" name="tags" id="tags" value="{{ tags|escape }}" />
                <div class="autocomplete" id="tags_auto_complete"></div>
                <script type="text/javascript">
                    new Ajax.Autocompleter(
                        'tags',
                        'tags_auto_complete',
                        '/ajax/tags_auto_complete/', {
                                tokens: ' '
                        }
                    );
                </script></dd>
        </dl>

        {{ form.code }}

        {% if form.code.errors %}
            <p class="error"><strong>Error:</strong>
                {{ form.code.errors|join:", " }}
            </p>
        {% endif %}

        <div class="action">
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
        </div>
    </form>

{% endblock %}
