{% extends "layout.html" %}

{% block title %}Recent Pastes{% endblock %}

{% block content %}

    <h2>Recent Pastes</h2>
    <ul>
    {% for paste in pastes %}
        <li class="paste_summary">
            <p><a href="{{ paste.get_absolute_url }}">{{ paste.title|escape }}</a> by {{ paste.author|escape }} on {{ paste.pub_date|date:"j. N Y H:i" }}</p>
            <a href="{{ paste.get_absolute_url }}" class="detail">{{ paste.code_summary }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
