{% extends "layout.html" %}

{% block title %}{{ paste.title|escape }} by {{ paste.author|escape }}{% endblock %}

{% block sidebar %}
    <h3>This Paste</h3>
    <dl>
        <dt>Author</dt>
        <dd>{{ paste.author|escape }}</dd>
        <dt>Language</dt>
        <dd>{{ paste.language_name|escape }}</dd>
        <dt>Date</dt>
        <dd>{{ paste.pub_date|date:"j. N Y H:i" }}</dd>
        <dt>Tags</dt>
        <dd>{% if not paste.tags.all %}<em>not tagged</em>{% endif %}
        {% for tag in paste.tags.all %}
            <a href="{{ tag.get_absolute_url }}" title="{{ tag.name|escape }}: {{ tag.count }}">{{ tag.name|escape }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}</dd>
        {% if paste.reply_to %}
            <dt>Reply To</dt>
            <dd><a href="{{ paste.reply_to.get_absolute_url }}">{{ paste.reply_to.title|escape }}</a> by {{ paste.reply_to.author|escape }}
        {% endif %}
    </dl>

    <h3>Actions</h3>
    <ul>
        <li><a href="?action=raw">download paste</a></li>
        <li><a href="{{ paste.get_reply_url }}">reply to this paste</a></li>
        {% if paste.reply_to %}
            <li><a href="{{ paste.get_compare_url }}">compare with original</a>
        {% endif %}
        <li><a href="javascript:toggleLineNumbers()">toggle line numbers</a></li>
        <li><a href="javascript:toggleSyntax()">toggle syntax highlighting</a></li>
        <li><a href="javascript:selectCode()">select code</a></li>
        <li><a href="javascript:togglePasteThread('{{ paste.uid }}')">toggle paste thread</a></li>
    </ul>
    <div id="paste_thread" class="pastethread"></div>
    <script type="text/javascript">
        Element.hide('paste_thread');
    </script>
{% endblock %}

{% block content %}

    <h2>{{ paste.title|escape }}</h2>
    {{ paste.parsed_code }}

{% endblock %}
